/* ----- Generales ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courgette', 'Arial Narrow', Arial, sans-serif;
}
/* ----- Variables ---- */
:root {
    --black: #000000;
}
/* ----- Skip to navigation ---- */
.skip-color {
    color: var(--black);
    font-weight: bold;
}
/* ----- Navbar/Menu ---- */
#nav-link-hover:hover {
    animation: 3s underline;
    color: var(--black);
    font-weight: bold;
    box-shadow: 4px 4px 0 3px;
    border-radius: 10px;
}
@keyframes underline {
    from {
        border-bottom: 1px solid;
    }
    to {
        border-top: 1px solid;
    }
    
}