@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Onest:wght@100..900&display=swap');
@import "tailwindcss";

* {
	box-sizing: border-box;
	position: relative;
	min-width: 0;
}

body {
	min-height: 100dvh;
}

h1, h2, h3, h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

@theme {
	--font-josefin: 'Josefin Sans', sans-serif;
	--font-onest: 'Onest', sans-serif;
}